version: "3.8"

services:
  dtm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dtm
    environment:
      SASL_USERNAME: test
      SASL_PASSWORD: test
      SASL_MECHANISM: test
      SECURITY_PROTOCOL: test
      POSTGRES_CONNECTION_STRING: postgresql://alice:secret123@postgres:5432/appdb
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      LOCAL_S3_ENDPOINT: http://localstack:4566
      IS_PROD: False
      EXPECTED_SENSORS_FILENAME: expectedSensors.json
      STORAGE_BUCKET_NAME: rubin-summit
      SHOULD_RUN_END_READOUT_LISTENER: True
      FILE_NOTIFICATION_TOPIC_NAME: fileNotificationsTopic
      FILE_NOTIFICATION_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      FILE_NOTIFICATION_KAFKA_GROUP_ID: 1
      END_READOUT_TOPIC_NAME: endReadoutsTopic
      END_READOUT_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      END_READOUT_KAFKA_GROUP_ID: 1
    ports:
      - "8000:8000"

    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
      localstack:
        condition: service_healthy
      grafana:
        condition: service_healthy

  postgres:
    image: postgres:17.4
    container_name: postgres
    environment:
      POSTGRES_USER: alice
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:9.3
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: HOST://0.0.0.0:29092,CONTROLLER://:9093,PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,HOST://localhost:29092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
      - "29092:29092"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "timeout 3 bash -c 'cat < /dev/null > /dev/tcp/localhost/9092' || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  loki:
    user: "0"
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki

  # promtail:
  #   image: grafana/promtail:latest
  #   container_name: promtail
  #   volumes:
  #     - /var/log:/var/log # for reading logs, likely already present
  #     - /var/run/docker.sock:/var/run/docker.sock # <-- This is critical for Docker discovery
  #     - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
  #   command: -config.file=/etc/promtail/promtail-config.yaml
  #   depends_on:
  #     - loki
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      - ./alloy-config.hcl:/etc/alloy/config.alloy:ro
      - /var/log:/var/log:ro # read host logs
      - /var/run/docker.sock:/var/run/docker.sock:ro # Docker socket access if needed
    ports:
      - "12345:12345" # optional Alloy debug UI port
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - /etc/alloy/config.alloy
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
      - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
      - GF_DATASOURCES__LOKI__URL=http://loki:3100
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/login"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    depends_on:
      - prometheus
      - loki

  localstack:
    container_name: "localstack"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566" # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559" # External services port range
    environment:
      - DEBUG=${DEBUG:-0}
      # Add more LocalStack config as needed, e.g.:
      - SERVICES=s3,sqs
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - "localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./localstack-init:/etc/localstack/init/ready.d"

volumes:
  pgdata:
  localstack:
  loki-data:
